.container {
    display: table;
    width: 300px;
    height: 300px;
    border: 5px solid rgb(49, 48, 48);
    background-color: #353C0B;
    color: white;
    font-size: 20px;
    margin-top: 50px;
}

.task {
    text-align: center;
}