form {
    max-width: 600px;
    margin: 50px auto;
    background-color: rgb(86, 86, 86);
    padding: 30px;
    display: grid;
}

h1 {
    text-align: center;
}

textarea {
    resize: none;
}

.errorMessage {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
    background-color: red;
}

.formText {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    text-align: center;
    font-size: 18px;
    background-color: red;
    margin-left: 150px;
    margin-right: 150px;
}

.body {
    background-color: grey;
    height: 700px;
}
