.singleTask {
    width: 40%;
    margin: 70px auto 0px;
    background-color: rgba(221, 115, 28, 0.3);
    border-radius: 15px;
    box-shadow: 0px 5px 10px 10px rgba(158, 235, 16, 0.548);
    padding: 50px;
    color: white;
    font-size: 22px;
    align-content: flex-start;
}

.singleTask div {
    text-align: center;
}

.spinerDiv {
    z-index: 1060;
    width: 90%;
    height: 90%;
    background-color: rgba(214, 181, 132, 0.7);
}