.singleTask {
  width: 40%;
  margin: 70px auto 0px;
  background-color: #24345b;
  border-radius: 15px;
  padding: 50px;
  color: white;
  font-size: 22px;
  align-content: flex-start;
}

.singleTask div {
  text-align: center;
}

.spinerDiv {
  z-index: 1060;
  width: 90%;
  height: 90%;
  background-color: rgba(214, 181, 132, 0.7);
}
